/*
 Manifest
 */

ManifestStyle {
    -kakaotalk-theme-name: '심플 라이트';
    -kakaotalk-theme-version: '26.8.0';
    -kakaotalk-theme-url: 'https://han-hyeonmin.github.io/kakaotalk-custom-theme/';
    -kakaotalk-author-name: 'hyeonmin_han';
    -kakaotalk-theme-id: 'com.kakao.talk.theme.0000';
}



/*
 MainView Style
 */

MainViewStyle-Primary {
    background-color: #FFFFFE;
}


/*
 TabBar Style
 */

TabBarStyle-Main {
    background-color: #FFFFFE;
}

/*
 DefaultProfile Style
*/

DefaultProfileStyle {
    /* 프로필 */
    -ios-profile-images: 'profileImg01.png';
}